<h1 class="event-title">My Rsvps</h1>

{{#if rsvps}}
{{>rsvps-partial}}
{{else}}

<div class="prompt">
  <p>Looks like you haven't RSVP-ed to any events yet.</p>
  <p>Why don't you <a class="get-all-events">find an event</a>?</p>
</div>

{{/if}}


