<h1>Events</h1>

<div class="events-wrapper">
<h1>Create An Event</h1>
<form id="create-event-form">
  <div>
  <ul class="event-form-body">
  <li><label>Event Name</label></li>
    <li><input name="event[title]" type="text"></li>
    <li><label>Location</label></li>
    <li><input name="event[location]" type="text"></li>
    <li><label>Date</label></li>
    <li><input name="event[date]" type="date"></li>
    <li><label>Starts</label></li>
    <li><input name="event[startTime]" type="time"></li>
    <li><label>Ends</label></li>
    <li><input name="event[endTime]" type="time"></li>
    <li><label>Extras</label></li>
    <li><input name="event[questions]" type="text"></li>
    <li><button type="submit">Create Event</li>
  </ul>
  </div>

</form>


</div>
