<h1>Auth</h1>

<div class="wrapper">
  <h1>Sign Up</h1>
  <form id="sign-up">
    <div>
      <label for="credentials[email]">Email</label>
      <input name="credentials[email]" id="credentials[email]" type="email" placeholder="Email" required>
    </div>
    <div>
      <label for="credentials[username]">Username</label>
      <input name="credentials[username]" id="credentials[username]" type="username" placeholder="Username" required>
    </div>
    <div>
      <label for="credentials[password]">Password</label>
      <input name="credentials[password]" id="credentials[password]" type="password" placeholder="Password" required>
    </div>
    <div>
      <label for="credentials[password_confirmation]">Confirm password</label>
      <input name="credentials[password_confirmation]" id="credentials[password_confirmation]" type="password" placeholder="Confirm password" required>
    </div>
    <p><button type="submit">Sign Up</button></p>
  </form>

  <p>Have an account? <a class="sign-in" role="button" href="">Sign in.</a></p>
</div>

<div class="wrapper">
  <h1>Sign In</h1>
  <form id="sign-in">
    <div>
      <label for="credentials[email]">Email</label>
      <input name="credentials[email]" id="credentials[email]" type="email" placeholder="Email" required>
    </div>
    <div>
      <label for="credentials[password]">Password</label>
      <input name="credentials[password]" id="credentials[password]" type="password" placeholder="Password" required>
    </div>
    <p><button type="submit">Sign In</button></p>
  </form>

  <p>No account? <a class="sign-up" role="button" href="">Sign up.</a></p>
</div>

<a href="" id="sign-out"><h1>Sign Out</h1></a>

<div class="pwd-form">
  <h1>Change password</h1>
  <form id="change-password" class="change-password">
    <div>
      <label for="passwords[old]">Current password</label>
      <input name="passwords[old]" id="passwords[old]" type="password" placeholder="Current password">
    </div>
    <div>
      <label for="passwords[new]">New password</label>
      <input name="passwords[new]" id="passwords[new]" type="password" placeholder="New password">
    </div>
    <button type="submit">Change Password</button>
  </form>
</div>
