<div class="wrapper">
  <h1 class="auth-form">Sign In</h1>
  <form id="sign-in">
    <div>
      <label class="auth-form" for="credentials[email]">Email</label>
      <input name="credentials[email]" id="credentials[email]" type="email" placeholder="Email" required>
    </div>
    <div>
      <label class="auth-form" for="credentials[password]">Password</label>
      <input name="credentials[password]" id="credentials[password]" type="password" placeholder="Password" required>
    </div>
    <p><button type="submit" class="btn btn-default">Sign In</button></p>
  </form>

  <p class="auth-form" >No account? <a class="sign-up" role="button" href="">Sign up.</a></p>
</div>
