.header {
  height: 100px;
}

.nav {
  bottom: 0;
  height: 100%;
  left: 0;
  padding-top: 150px;
  position: fixed;
  top: 0;
  width: 150px;
}

.main {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}
