<!-- sign up, sign in, title,  greeting?, shows background image -->

<h3>Put your event plans into digital action with Happening, an event creation tool to help manage correspondence with ease.
Whether it's a donut party with co-workers or your wedding day, no event is too small to make it a Happening. </h3>

<a class="sign-in" role="button" href="">Sign in.</a>
<a class="sign-up" role="button" href="">Sign up.</a>
</div>
